In [1]:
html = '''
<html>
<head>
</head>
<body>
    <h1> 우리동네시장</h1>
    <div class = 'sale'>
        <p id='fruits1' class='fruits'>
            <span class = 'name'> 바나나 </span>
            <span class = 'price'> 3000원 </span>
            <span class = 'inventory'> 500개 </span>
            <span class = 'store'> 가나다상회 </span>
            <a href = 'http://www.naver.com' > 홈페이지 </a>
        </p>
    </div>
    <div class = 'prepare'>
        <p id='fruits2' class='fruits'>
            <span class ='name'> 파인애플 </span>
        </p>
    </div>
</body>
</html>
'''

In [2]:
import bs4

In [3]:
soup = bs4.BeautifulSoup(html)

In [4]:
# 태그 이름으로 검색
tags_span = soup.select('span')
print(type(tags_span))
#print(tags_span)
      
#for i in tags_span:
#    print(i)

print('------------------------')
tags_p = soup.select('p')
print(tags_p)

<class 'bs4.element.ResultSet'>
------------------------
[<p class="fruits" id="fruits1">
<span class="name"> 바나나 </span>
<span class="price"> 3000원 </span>
<span class="inventory"> 500개 </span>
<span class="store"> 가나다상회 </span>
<a href="http://www.naver.com"> 홈페이지 </a>
</p>, <p class="fruits" id="fruits2">
<span class="name"> 파인애플 </span>
</p>]

In [5]:
tags_id = soup.select('#fruits1')
#print(tags_id)

tags_class = soup.select('.price')
print(tags_class)

[<span class="price"> 3000원 </span>]

In [6]:
print(tags_span)

[<span class="name"> 바나나 </span>, <span class="price"> 3000원 </span>, <span class="inventory"> 500개 </span>, <span class="store"> 가나다상회 </span>, <span class="name"> 파인애플 </span>]

In [7]:
tag_1 = tags_span[2]

print(tag_1)

<span class="inventory"> 500개 </span>

In [8]:
tags = soup.select('a')
print(tags)
tag = tags[0]
print(tag)
content = tag.text
print(type(content))
print(content.strip())

link = tag['href']
print(link)

[<a href="http://www.naver.com"> 홈페이지 </a>]
<a href="http://www.naver.com"> 홈페이지 </a>
<class 'str'>
홈페이지
http://www.naver.com

In [26]:
import selenium

In [25]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\cheoho-hi\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\cheoho-hi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\cheoho-hi\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\cheoho-hi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\cheoho-hi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\cheoho-hi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\cheoho-hi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\cheoho-hi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [20]:
url = 'https://www.melon.com/chart/index.htm'

In [27]:
import selenium
from selenium import webdriver

In [29]:
driver = webdriver.Chrome('/Users/cheoho-hi/Downloads/chromedriver')
driver.get(url)

html = driver.page_source

soup = bs4.BeautifulSoup(html)

#print(soup)
# tr -> div > span > a

songs = soup.select('tr')[1:]

for song in songs[:5]:
    title = song.select('div.ellipsis.rank01 > span > a')[0].text
    singer = song.select('div.ellipsis.rank02 > a')[0].text
    print(title, singer, sep='   |   ')

Ditto   |   NewJeans
OMG   |   NewJeans
Hype boy   |   NewJeans
사건의 지평선   |   윤하 (YOUNHA)
NOT SORRY (Feat. pH-1) (Prod. by Slom)   |   이영지

In [30]:
import pandas as pd

In [31]:
song_data = []
rank = 1
songs = soup.select('tr')[1:]
for song in songs:
    title = song.select('div.rank01 > span > a')[0].text
    singer = song.select('div.rank02 > a')[0].text
    song_data.append(['Melon', rank, title, singer])
    rank += 1

print(song_data[:10])

[['Melon', 1, 'Ditto', 'NewJeans'], ['Melon', 2, 'OMG', 'NewJeans'], ['Melon', 3, 'Hype boy', 'NewJeans'], ['Melon', 4, '사건의 지평선', '윤하 (YOUNHA)'], ['Melon', 5, 'NOT SORRY (Feat. pH-1) (Prod. by Slom)', '이영지'], ['Melon', 6, 'ANTIFRAGILE', 'LE SSERAFIM (르세라핌)'], ['Melon', 7, 'Candy', 'NCT DREAM'], ['Melon', 8, 'Attention', 'NewJeans'], ['Melon', 9, '사랑은 늘 도망가', '임영웅'], ['Melon', 10, 'After LIKE', 'IVE (아이브)']]

In [32]:
pd_data = pd.DataFrame(song_data, columns=['서비스', '순위', '타이틀', '가수'])
pd_data

,서비스,순위,타이틀,가수
0,Melon,1,Ditto,NewJeans
1,Melon,2,OMG,NewJeans
2,Melon,3,Hype boy,NewJeans
3,Melon,4,사건의 지평선,윤하 (YOUNHA)
4,Melon,5,NOT SORRY (Feat. pH-1) (Prod. by Slom),이영지
...,...,...,...,...
95,Melon,96,이 소설의 끝을 다시 써보려 해,테이
96,Melon,97,흩어지지 않게,엠씨더맥스 (M.C the MAX)
97,Melon,98,주마등,김호중
98,Melon,99,"나침반 (Feat. UNEDUCATED KID, 수퍼비 (SUPERBEE)) (Pr...",KHAN
99,Melon,100,빛이 나는 사람,김호중